<app-header></app-header>

<main>
  <section class="home-section">
    <div class="home-headline">
      <span>KIPPER CONSULTORIA</span>
      <h1>A consultoria que você busca para seu software</h1>
    </div>
    <img src="./assets/principal.png" alt="" width="600" height="600" />
  </section>

  <section class="benefit-section">
    <div class="benefit-data">
      <h2>
        95% das<br />
        empresas
      </h2>
    </div>

    <p>
      não sabem como lidar com problemas de <b>escalibilidade</b> e grande
      volume de requisições.
    </p>
  </section>

  <section class="cta-section">
    <app-button-primary
      btn-text="Fale com nosso time de Especialistas"
    ></app-button-primary>
  </section>

  <app-newsletter-form></app-newsletter-form>

  <app-footer></app-footer>
</main>
